.react-calendar-heatmap {
  height: 100%;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}
.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .win-rate-0-30 {
  fill: #de3163;
}
.react-calendar-heatmap .win-rate-30-50 {
  /* fill: #82e0aa; */
  fill: #f1948a;
}
.react-calendar-heatmap .win-rate-50-100 {
  fill: #6495ed;
}
